apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-html-config
data:
  index.html: |
    <html>
      <head><title>CKA Demo</title></head>
      <body>
        <h1>Hello CKA Demo!</h1>
      </body>
    </html>
